
# Authentication mode: firebase | api
VITE_AUTH_PROVIDER=firebase
# Add any other required environment variables below
VITE_API_URL=http://44.202.107.196:8080

# Firebase Configuration 
# You must get these 3 specific values from Firebase Project Settings
VITE_FIREBASE_API_KEY="AIzaSyA5ai21uU_Ln_2FlSxXpB3Wmn4tzLGmzx0"
VITE_FIREBASE_AUTH_DOMAIN="qnext-bc282.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="qnext-bc282"
VITE_FIREBASE_STORAGE_BUCKET="qnext-bc282.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="655635157366"
VITE_FIREBASE_APP_ID="1:655635157366:web:041042eac22a7153c0aa57"

# Data Settings
# Changing these to 'firebase' tells the app to use your database
VITE_DASHBOARD_DATA_SOURCE=firebase
VITE_REQUESTS_DATA_SOURCE=firebase
VITE_REQUESTS_COLLECTION=activationRequests